<!-- Copyright Section-->
<div class="copyright py-3 text-center text-white">
    <div class="container">
        <small>Copyright &copy; Lotus For Africa Foundation 2023</small>
    </div>
</div>
