<!-- Copyright Section-->
<div class="copyright py-4 text-center text-white mt-5">
    <div class="container">
        <small>Copyright &copy; Lotus For Africa Foundation 2023</small>
    </div>
</div>