.aws-btn {
    --slider-transition-duration: 750ms;
    --organic-arrow-thickness: 5px;
    --organic-arrow-border-radius: 30px;
    --organic-arrow-height: 35px;
    --organic-arrow-color: #8f91a8;
    --control-button-width: 10%;
    --control-button-height: 25%;
    --control-button-background: transparent;
    --control-bullet-color: #8f91a8;
    --control-bullet-active-color: #8f91a8;
    --loader-bar-color: #0254a666;
    --loader-bar-height: 5px;
    --slider-height-percentage: 50%;
    @media (min-width: 992px) {
        --slider-height-percentage: 45%;
    }

    img {
        height: 100%;
        object-fit: contain;
        background-color: black;
    }

    width: 100%;
    border-radius: 25px;
    overflow: hidden;
    @media (min-width: 992px) {
        width: 80%;
    }
}
