.link-cards {
    position: relative;
    display: inline-block;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    height: 130px;

    &:hover {
        transform: scale(1.05, 1.05);
        filter: blur(0);
    }

    & > a > div {
        height: 100%;
        position: relative;
    }
    .link-card-text {
        display: inline-block;
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: 2;
        text-decoration: none;
        box-shadow: 0 0 20px 2px rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.7);
        padding-bottom: 8px;
        padding-top: 5px;

        // font
        color: rgb(255, 255, 255);
        font-size: 4vw;
        font-weight: 700;
        text-shadow: 0 0 3px rgba(255, 255, 255, 0.7);
        @media (min-width: 576px) {
            font-size: 12px;
        }
        @media (min-width: 768px) {
            font-size: 16px;
        }
    }
    & img {
        z-index: 1;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.3s ease-in-out;
        &:hover {
            top: -3px;
        }
    }
}

.slider-wrapper {
    height: 60vw;
    max-height: 400px;
    @media (min-width: 576px) {
        height: 60vw;
    }
    @media (min-width: 1024px) {
        height: 30vw;
    }
}
