---
import BaseLayout from '../layouts/BaseLayout.astro';

// import translations
import translations, {
    convertPageTitle,
    localeLink,
} from '../utils/translationTools';
const t = translations(Astro.url);
---

<BaseLayout
    title={convertPageTitle(t.aboutUs, t.title)}
    description={t.description}
>
    <h1 class="text-white text-center mb-4">{t.aboutUs}</h1>
    <div
        class="container fw-semibold py-3 px-4 rounded-3 d-flex bg-white bg-opacity-10 text-white col-11 col-lg-8"
        set:html={t.aboutUsText}
    />
</BaseLayout>
