---
import BaseLayout from '../layouts/BaseLayout.astro';
import Slider from '../components/Slider';
---

<BaseLayout
    title="Lotus for africa foundation"
    description="Liberia'da köprü, cami ve okul yapımı gibi faaliyetler sürdüren vakıf."
>
    <div id="page-top">
        <!-- lotushead-->
        <div class="lotushead text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <Slider client:load />
            </div>
        </div>
    </div>
</BaseLayout>
