---
import BaseLayout from '../layouts/BaseLayout.astro';
import Navbar from '../components/Navbar.astro';
import HeaderSection from '../components/HeaderSection.astro';
import PortfolioSection from '../components/PortfolioSection.astro';
import FooterSection from '../components/FooterSection.astro';
import AboutSection from '../components/AboutSection.astro';
import PoolsSection from '../components/PoolsSection.astro';
import ContactSection from '../components/ContactSection.astro';
import CopyrightSection from '../components/CopyrightSection.astro';
---

<BaseLayout
    title="Lotus for africa foundation"
    description="Liberia'da köprü, cami ve okul yapımı gibi faaliyetler sürdüren vakıf."
>
    <div id="page-top">
        <Navbar />
        <HeaderSection />
        <!-- <PortfolioSection /> -->
        <PoolsSection />
        <AboutSection />
        <ContactSection />
        <!-- <FooterSection /> -->
        <CopyrightSection />
    </div>
</BaseLayout>
