---
import Navbar from '../components/Navbar.astro';
import HeaderSection from '../components/HeaderSection.astro';
import PortfolioSection from '../components/PortfolioSection.astro';
import FooterSection from '../components/FooterSection.astro';
import AboutSection from '../components/AboutSection.astro';
import ContactSection from '../components/ContactSection.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout
    title="Lotus for africa foundation"
    description="Liberia'da köprü, cami ve okul yapımı gibi faaliyetler sürdüren vakıf."
>
    <div id="page-top">
        <Navbar />
        <HeaderSection />
        <!-- <PortfolioSection /> -->
        <!-- <AboutSection /> -->
        <!-- <ContactSection /> -->
        <!-- <FooterSection /> -->

        <!-- Copyright Section-->
        <div class="copyright py-4 text-center text-white">
            <div class="container">
                <small>Copyright &copy; Lotus for africa foundation 2023</small>
            </div>
        </div>
    </div>
</BaseLayout>
