---
import BaseLayout from '../layouts/BaseLayout.astro';

// import translations
import translations, {
    convertPageTitle,
    localeLink,
} from '../utils/translationTools';
const t = translations(Astro.url);
---

<BaseLayout
    title={convertPageTitle(t.orphanage, t.title)}
    description={t.description}
>
    <div class="container">
        <h1 class="text-white text-center mb-4">{t.orphanage}</h1>
    </div>
</BaseLayout>
