---
interface Props {
    modalId: string;
}

const { modalId } = Astro.props;
---

<!-- Button trigger modal -->
<button
    type="button"
    class="btn p-0 border-0 bg-transparent text-start w-100"
    data-bs-toggle="modal"
    data-bs-target={'#' + modalId}
>
    <slot />
</button>

<!-- Modal -->
<div
    class="modal fade"
    id={modalId}
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content dark-bg shadow-lg border-0 rounded-4 overflow-hidden">
            <div class="modal-header border-0 pb-0">
                <button
                    type="button"
                    class="btn-close btn-close-white ms-auto"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <slot />
            </div>
        </div>
    </div>
</div>
