<!-- İletişim Bölümü -->
<section class="page-section" id="contact">
    <div class="container">
        <!-- İletişim Bölümü Başlığı -->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">İLETİŞİM</h2>
        <!-- Simgelerle Ayrılmış Çizgi -->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- İletişim Bölümü Formu -->
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">
                <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                    <!-- Ad girişi -->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="name" type="text" placeholder="Adınızı girin..." data-sb-validations="required" />
                        <label for="name">Adınız Soyadınız</label>
                        <div class="invalid-feedback" data-sb-feedback="name:required">Bir isim gereklidir.</div>
                    </div>
                    <!-- E-posta adresi girişi -->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="email" type="email" placeholder="ornek@ornek.com" data-sb-validations="required,email" />
                        <label for="email">E-posta adresi</label>
                        <div class="invalid-feedback" data-sb-feedback="email:required">Bir e-posta gereklidir.</div>
                        <div class="invalid-feedback" data-sb-feedback="email:email">Geçerli bir e-posta değil.</div>
                    </div>
                    <!-- Telefon numarası girişi -->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
                        <label for="phone">Telefon numarası</label>
                        <div class="invalid-feedback" data-sb-feedback="phone:required">Bir telefon numarası gereklidir.</div>
                    </div>
                    <!-- Mesaj girişi -->
                    <div class="form-floating mb-3">
                        <textarea class="form-control" id="message" placeholder="Mesajınızı buraya girin..." style="height: 10rem" data-sb-validations="required"></textarea>
                        <label for="message">Mesajınız</label>
                        <div class="invalid-feedback" data-sb-feedback="message:required">Bir mesaj gereklidir.</div>
                    </div>
                    <!-- Gönderim başarılı mesajı -->
                    <!---->
                    <!-- Bu, kullanıcılarınızın formu başarıyla gönderdiklerinde göreceği şeydir-->
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center mb-3">
                            <div class="fw-bolder">Form gönderimi başarılı!</div>
                            Bu formu etkinleştirmek için şuradan kaydolun:
                            <br />
                            <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                        </div>
                    </div>
                    <!-- Gönderim hatası mesajı -->
                    <!---->
                    <!-- Bu, form gönderilirken bir hata olduğunda kullanıcılarınızın göreceği şeydir-->
                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Mesaj gönderilirken hata oluştu!</div></div>
                    <!-- Gönder Butonu -->
                    <button class="btn btn-primary btn-xl disabled" id="submitButton" type="submit">Gönder</button>
                </form>
            </div>
        </div>
    </div>
</section>
