---
import Slider from './Slider.tsx';
---

<!-- lotushead-->
<header class="lotushead text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- lotushead Avatar Image -->
        <!-- <img class="lotushead-avatar mb-5" src="/assets/img/logo.png" alt="..." /> -->
        <!-- lotushead Heading -->
        <!-- <h1 class="lotushead-heading text-uppercase mb-0">
            Lotus for africa foundation
        </h1> -->

        <Slider client:only="react" />

        <!-- Icon Divider -->
        <div class="my-4 divider-custom divider-light">
            <div class="divider-custom-line"></div>
        </div>
        <!-- lotushead Subheading-->
        <p class="lotushead-subheading font-weight-light mb-0">
            Köprü - Cami - Okul Yapımı
        </p>
    </div>
</header>
