<!-- About Section-->
<section class="page-section text-white mb-0" id="water-wells">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">
            Kuyular
        </h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ms-auto">
                <p class="lead">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Est quidem, iusto pariatur explicabo laborum error
                    repudiandae at neque nobis delectus quos itaque corporis
                    ullam accusantium minima nulla animi. Nesciunt, aspernatur!
                </p>
            </div>
            <div class="col-lg-4 me-auto">
                <p class="lead">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Est quidem, iusto pariatur explicabo laborum error
                    repudiandae at neque nobis delectus quos itaque corporis
                    ullam accusantium minima nulla animi. Nesciunt, aspernatur!
                </p>
            </div>
        </div>
    </div>
</section>
