---
import { Image } from 'astro:assets';
---

<div
    class="col-11 col-sm-5 col-md-3 d-flex align-items-center justify-content-around rounded-4 p-0"
>
    <div
        class="col-11 m-2 d-flex rounded-4 flex-column"
        style="height: 250px; background-color: #353444"
    >
        <Image
            src={import('/assets/img/portfolio/test.webp')}
            alt="water well picture 001"
            srcset=""
            class="rounded-4"
            style="width: 90%; 
            margin-left: auto; 
            margin-right: auto; 
            margin-top: 10px;
            object-fit: cover;
            height: 70%;"
        />
        <div class="text-white text-center mt-3" style="font-weight: bold;">
            Kuyu Numarası
        </div>
    </div>
</div>
