---
import 'bootstrap/dist/css/bootstrap.min.css';
import '../scss/styles.scss';
import bootstrap from 'bootstrap/dist/js/bootstrap.bundle?url';
// Font Awesome icons (free version)
import '../js/fontawesome';
// Google fonts
import '../scss/font-montserrat.scss';
import '../scss/font-lato.scss';
interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width" />
        <title>{title}</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/favicon.png" />
    </head>
    <body>
        <slot />

        <!-- Core theme JS -->
        <script src="../js/scripts.js"></script>
        <!-- Bootstrap -->
        <script src={bootstrap}></script>
    </body>
</html>
